# Analyzing non-numerical Series

In [1]:
import pandas as pd

In [2]:
file = 'titanic.csv'

In [3]:
df = pd.read_csv(file,sep='\t')

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 12 columns):
PassengerId    156 non-null int64
Survived       156 non-null int64
Pclass         156 non-null int64
Name           156 non-null object
Sex            156 non-null object
Age            126 non-null float64
SibSp          156 non-null int64
Parch          156 non-null int64
Ticket         156 non-null object
Fare           156 non-null float64
Cabin          31 non-null object
Embarked       155 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 14.7+ KB

In [32]:
name = df['Name']
sex = df['Sex']
embarked = df['Embarked']

In [33]:
type(name)

pandas.core.series.Series

In [34]:
#get the first 5 elements
name.head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [35]:
#get the last 5 elements
name.tail()

151    Pears, Mrs. Thomas (Edith Wearne)
152                     Meo, Mr. Alfonzo
153      van Billiard, Mr. Austin Blyler
154                Olsen, Mr. Ole Martin
155          Williams, Mr. Charles Duane
Name: Name, dtype: object

In [37]:
#the 'describe()' method, returns the attributes:
#count: total amount of elements
#unique: total amount of unique values
#top: the most frequent element
#freq: total amount of the most frequent element
embarked.describe()

count     155
unique      3
top         S
freq      110
Name: Embarked, dtype: object

In [39]:
#returns the number of elements including NaN values
embarked.size

156

In [40]:
#returns the number of elements excluding NaN values
embarked.count()

155

In [13]:
#getting the first name (alphabetical order)
name.min()

'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)'

In [41]:
#getting the first name (alphabetical order)
name.max()

'van Billiard, Mr. Austin Blyler'

In [42]:
len(embarked.unique())

4

In [43]:
embarked.nunique(dropna=False)

4

In [38]:
#getting the amount of each element
embarked.value_counts()

S    110
C     32
Q     13
Name: Embarked, dtype: int64

In [47]:
#getting the relative frequencies of each element (parameter 'normalize')
embarked.value_counts(ascending=False,normalize=True)

S    0.709677
C    0.206452
Q    0.083871
Name: Embarked, dtype: float64

### To know more
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html