# String Operations

In [0]:
hello = 'Hello world'
hello

'Hello world'

In [0]:
type(hello)

str

In [0]:
#lenght
len(hello)

11

In [0]:
# to lower case
hello.lower()

'hello world'

In [0]:
# to upper case
hello.upper()

'HELLO WORLD'

In [0]:
# titlecase: the first character of each word is transformed to upper case
hello.title()

'Hello World'

In [0]:
#split the string object
hello.split(' ')

['Hello', 'world']

## String operations in Pandas

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('titanic.csv',sep='\t')
df[['Name','Sex','Age']].head()

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

In [0]:
#get the first 10 names and store into variable 'names'
names = df.loc[:9,'Name'].copy()

In [0]:
names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [0]:
#check the type of the first object of our serie: str (string)
type(names[0])

str

In [0]:
#transform each name to lower case
names.str.lower()

0                              braund, mr. owen harris
1    cumings, mrs. john bradley (florence briggs th...
2                               heikkinen, miss. laina
3         futrelle, mrs. jacques heath (lily may peel)
4                             allen, mr. william henry
5                                     moran, mr. james
6                              mccarthy, mr. timothy j
7                       palsson, master. gosta leonard
8    johnson, mrs. oscar w (elisabeth vilhelmina berg)
9                  nasser, mrs. nicholas (adele achem)
Name: Name, dtype: object

In [0]:
#each element to upper case
names.str.upper()

0                              BRAUND, MR. OWEN HARRIS
1    CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                               HEIKKINEN, MISS. LAINA
3         FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                             ALLEN, MR. WILLIAM HENRY
5                                     MORAN, MR. JAMES
6                              MCCARTHY, MR. TIMOTHY J
7                       PALSSON, MASTER. GOSTA LEONARD
8    JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)
9                  NASSER, MRS. NICHOLAS (ADELE ACHEM)
Name: Name, dtype: object

In [0]:
#split each element
names.str.split(',')

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
5                                  [Moran,  Mr. James]
6                           [McCarthy,  Mr. Timothy J]
7                    [Palsson,  Master. Gosta Leonard]
8    [Johnson,  Mrs. Oscar W (Elisabeth Vilhelmina ...
9               [Nasser,  Mrs. Nicholas (Adele Achem)]
Name: Name, dtype: object

In [0]:
#getting each name as FirstName + LastName
names_ordered = []
for name in names:
    name_split = name.split(',')
    name_ordered = '{0} {1}'.format(name_split[1],name_split[0])
    names_ordered.append(name_ordered)
names_ordered

[' Mr. Owen Harris Braund',
 ' Mrs. John Bradley (Florence Briggs Thayer) Cumings',
 ' Miss. Laina Heikkinen',
 ' Mrs. Jacques Heath (Lily May Peel) Futrelle',
 ' Mr. William Henry Allen',
 ' Mr. James Moran',
 ' Mr. Timothy J McCarthy',
 ' Master. Gosta Leonard Palsson',
 ' Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
 ' Mrs. Nicholas (Adele Achem) Nasser']

In [0]:
names_split = names.str.split(',')
names_ordered = names_split.str[1]+' '+names_split.str[0]
names_ordered.to_frame().sort_values('Name')

                                                Name
7                      Master. Gosta Leonard Palsson
2                              Miss. Laina Heikkinen
5                                    Mr. James Moran
0                             Mr. Owen Harris Braund
6                             Mr. Timothy J McCarthy
4                            Mr. William Henry Allen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
1   Mrs. John Bradley (Florence Briggs Thayer) Cu...
9                 Mrs. Nicholas (Adele Achem) Nasser
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson

In [0]:
#filtering names that contains the word 'Miss'
contains_miss = df['Name'].str.contains('Miss')
contains_miss.head()

0    False
1    False
2     True
3    False
4    False
Name: Name, dtype: bool

In [0]:
#filtering dataframe
df.loc[contains_miss][['Name','Sex','Age']]

                                         Name     Sex   Age
2                      Heikkinen, Miss. Laina  female  26.0
10            Sandstrom, Miss. Marguerite Rut  female   4.0
11                   Bonnell, Miss. Elizabeth  female  58.0
14       Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
22                McGowan, Miss. Anna "Annie"  female  15.0
24              Palsson, Miss. Torborg Danira  female   8.0
28              O'Dwyer, Miss. Ellen "Nellie"  female   NaN
32                   Glynn, Miss. Mary Agatha  female   NaN
38         Vander Planke, Miss. Augusta Maria  female  18.0
39                Nicola-Yarred, Miss. Jamila  female  14.0
43   Laroche, Miss. Simonne Marie Anne Andree  female   3.0
44              Devaney, Miss. Margaret Delia  female  19.0
47                  O'Driscoll, Miss. Bridget  female   NaN
56                          Rugg, Miss. Emily  female  21.0
58               West, Miss. Constance Mirium  female   5.0
61                        Icard, Miss. Amelie  female  38.0
68            Andersson, Miss. Erna Alexandra  female  17.0
71                 Goodwin, Miss. Lillian Amy  female  16.0
79                   Dowdell, Miss. Elizabeth  female  30.0
82             McDermott, Miss. Brigdet Delia  female   NaN
84                        Ilett, Miss. Bertha  female  17.0
88                 Fortune, Miss. Mabel Helen  female  23.0
100                   Petranec, Miss. Matilda  female  28.0
106          Salkjelsvik, Miss. Anna Kristine  female  21.0
109                       Moran, Miss. Bertha  female   NaN
111                      Zabour, Miss. Hileni  female  14.5
113                   Jussila, Miss. Katriina  female  20.0
114                     Attalah, Miss. Malake  female  17.0
119         Andersson, Miss. Ellis Anna Maria  female   2.0
123                       Webber, Miss. Susan  female  32.5
128                         Peter, Miss. Anna  female   NaN
136              Newsom, Miss. Helen Monypeny  female  19.0
141                  Nysten, Miss. Anna Sofia  female  22.0
147          Ford, Miss. Robina Maggie "Ruby"  female   9.0