<a href="https://colab.research.google.com/github/fabianoberaldi/pandaslibrary/blob/master/String_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Operations

In [0]:
hello = 'Hello world'
hello

'Hello world'

In [0]:
type(hello)

str

In [0]:
#lenght
len(hello)

11

In [0]:
# to lower case
hello.lower()

'hello world'

In [0]:
# to upper case
hello.upper()

'HELLO WORLD'

In [0]:
# titlecase: the first character of each word is transformed to upper case
hello.title()

'Hello World'

In [0]:
#split the string object
hello.split(' ')

['Hello', 'world']

## String operations in Pandas

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('titanic.csv',sep='\t')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [0]:
#get the first 10 names and store into variable 'names'
names = df.loc[:9,'Name'].copy()

In [0]:
names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [0]:
#check the type of the first object of our serie: str (string)
type(names[0])

str

In [0]:
#transform each name to lower case
names.str.lower()

0                              braund, mr. owen harris
1    cumings, mrs. john bradley (florence briggs th...
2                               heikkinen, miss. laina
3         futrelle, mrs. jacques heath (lily may peel)
4                             allen, mr. william henry
5                                     moran, mr. james
6                              mccarthy, mr. timothy j
7                       palsson, master. gosta leonard
8    johnson, mrs. oscar w (elisabeth vilhelmina berg)
9                  nasser, mrs. nicholas (adele achem)
Name: Name, dtype: object

In [0]:
#each element to upper case
names.str.upper()

0                              BRAUND, MR. OWEN HARRIS
1    CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS TH...
2                               HEIKKINEN, MISS. LAINA
3         FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)
4                             ALLEN, MR. WILLIAM HENRY
5                                     MORAN, MR. JAMES
6                              MCCARTHY, MR. TIMOTHY J
7                       PALSSON, MASTER. GOSTA LEONARD
8    JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)
9                  NASSER, MRS. NICHOLAS (ADELE ACHEM)
Name: Name, dtype: object

In [0]:
#split each element
names.str.split(',')

0                           [Braund,  Mr. Owen Harris]
1    [Cumings,  Mrs. John Bradley (Florence Briggs ...
2                            [Heikkinen,  Miss. Laina]
3      [Futrelle,  Mrs. Jacques Heath (Lily May Peel)]
4                          [Allen,  Mr. William Henry]
5                                  [Moran,  Mr. James]
6                           [McCarthy,  Mr. Timothy J]
7                    [Palsson,  Master. Gosta Leonard]
8    [Johnson,  Mrs. Oscar W (Elisabeth Vilhelmina ...
9               [Nasser,  Mrs. Nicholas (Adele Achem)]
Name: Name, dtype: object

In [0]:
#getting each name as FirstName + LastName
names_ordered = []
for name in names:
    name_split = name.split(',')
    name_ordered = '{0} {1}'.format(name_split[1],name_split[0])
    names_ordered.append(name_ordered)
names_ordered

[' Mr. Owen Harris Braund',
 ' Mrs. John Bradley (Florence Briggs Thayer) Cumings',
 ' Miss. Laina Heikkinen',
 ' Mrs. Jacques Heath (Lily May Peel) Futrelle',
 ' Mr. William Henry Allen',
 ' Mr. James Moran',
 ' Mr. Timothy J McCarthy',
 ' Master. Gosta Leonard Palsson',
 ' Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson',
 ' Mrs. Nicholas (Adele Achem) Nasser']

In [0]:
names_split = names.str.split(',')
names_ordered = names_split.str[1]+' '+names_split.str[0]
names_ordered.to_frame().sort_values('Name')

                                                Name
7                      Master. Gosta Leonard Palsson
2                              Miss. Laina Heikkinen
5                                    Mr. James Moran
0                             Mr. Owen Harris Braund
6                             Mr. Timothy J McCarthy
4                            Mr. William Henry Allen
3        Mrs. Jacques Heath (Lily May Peel) Futrelle
1   Mrs. John Bradley (Florence Briggs Thayer) Cu...
9                 Mrs. Nicholas (Adele Achem) Nasser
8   Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson

In [0]:
#filtering names that contains the word 'Miss'
contains_miss = df['Name'].str.contains('Miss')
contains_miss.head()

0    False
1    False
2     True
3    False
4    False
Name: Name, dtype: bool

In [0]:
#filtering dataframe
df.loc[contains_miss]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S
58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.7500,NaN,S
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.9250,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.4750,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
84,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C
113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S
123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0000,E101,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.7500,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S